{% extends './base.html' %}
{% block head %}
    <title>Job Hunt</title>
{% endblock %}
{% block body %}
    <div class="jumbotron big-banner">
        <div class="container">
            <i class="fas fa-laptop"></i>
            <ul class="nav" id="horizontal">
                <li class="nav-item">
                    <div class="dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="">Home</a>
                    </div>
                </li>
                <li class="nav-item">
                    <div class="dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="">Employers</a>
                    </div>
                </li>
                <li class="nav-item">
                    <div class="dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="">Job</a>
                    </div>
                </li>
                <li class="nav-item">
                    <div class="dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown">Account</a>
                        <ul class="dropdown-menu">
                            <li><a href=""><i class="far fa-user"></i> &nbspUser</a></li>
                            <li><a href=""><i class="fas fa-lock"></i> &nbspChange password</a></li>
                            <li><a href=""><i class="far fa-bell"></i> &nbspLogout</a></li>
                        </ul>
                    </div>
                </li>
            </ul>  
        </div>
    </div>
    <div class="container">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'company_profile' %}"><i class="fas fa-file-alt"></i> &nbsp&nbspCompany Profile</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href=""><i class="fas fa-briefcase"></i> &nbspManage Jobs</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'post_job' %}"><i class="fas fa-file-alt"></i> &nbsp&nbspPost a Job</a>
            </li>
        </ul>
    </div>
{% endblock %}