{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
    <title>Company Profile</title>
</head>
<body>
    <div class="jumbotron big-banner" style="height: 250px">
        <div class="container">
            <i class="fas fa-laptop"></i>  
            <ul class="nav" style="position: absolute; left: 600px; top:70px;">
                <li class="nav-item">
                    <div class="dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="">Home</a>
                    </div>
                </li>
                <li class="nav-item">
                    <div class="dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="">Employers</a>
                    </div>
                </li>
                <li class="nav-item">
                    <div class="dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="">Job</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="container">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'company_profile' %}"><i class="fas fa-file-alt"></i> &nbsp&nbspCompany Profile</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href=""><i class="fas fa-briefcase"></i> &nbspManage Jobs</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'post_job' %}"><i class="fas fa-file-alt"></i> &nbsp&nbspPost a Job</a>
            </li>
        </ul>
        <form method="POST" enctype="multipart/form-data" style="position: absolute; left:400px; top:290px;">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" class="btn btn-primary" value="Update">
        </form>
    </div>
    
</body>
</html>