{% load static %}
{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
    <title>Post a Job</title>
</head>
<body>
    <div class="page-header">
        <a href="{% url 'post_job' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
    </div>
    <div class="jumbotron big-banner">
        <div class="container">
            <i class="fas fa-laptop"></i>
            <ul class="nav" id="horizontal">
                <li class="nav-item">
                    <div class="dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="">Home</a>
                    </div>
                </li>
                <li class="nav-item">
                    <div class="dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="">Employers</a>
                    </div>
                </li>
                <li class="nav-item">
                    <div class="dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="">Job</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="container">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'company_profile' %}"><i class="fas fa-file-alt"></i> &nbsp&nbspCompany Profile</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href=""><i class="fas fa-briefcase"></i> &nbspManage Jobs</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'post_job' %}"><i class="fas fa-file-alt"></i> &nbsp&nbspPost a Job</a>
            </li>
        </ul>
    </div>
    <div class="container" style="position: absolute; left:400px; width:60%; top:300px;">
        <ul class="progressbar">
            <li class="active">Information</li>
            <li>Package & Payments</li>
            <li>Done</li>
        </ul>
    </div>
    <form method="POST" enctype="multipart/form-data" style="position: absolute; left:400px; top:400px;">
        {% csrf_token %}
        {% for error in form.non_field_errors %}
        <div class="form-group has-errors text-danger small">
            {{ error }}
        </div>
        {% endfor %}
        {% for field in form %}
        <div class="form-group has-errors text-danger small">
            {{ field.errors }}
        </div>
        <div class="form-group">
            <label for="{{ field.id_for_label }}" class="label">{{ field.label }}</label>
                {% if field.label == "Job Title" %}
                    {% render_field field class="form-control" placeholder="Enter job" %}
                {% else %}
                    {% render_field field class="form-control" %}
                {% endif %}
        </div>
        {% endfor %}
        <input type="submit" class="btn btn-primary" value="Next">
    </form>
</body>
</html>